/* Navbar */
.navbar.bg-dark {
    background-color: white !important;
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
    transition: color 0.3s ease-in-out;
}

.navbar-dark .navbar-toggler-icon {
    background-color: black !important;
}

.navbar-nav {
    margin-top: 60px; /* Adjust the margin-top value as needed */
}

.navbar-nav .nav-link:hover {
    color: #198AD7 !important; 
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.user-greeting {
    margin-left: 5px; /* Adjust the margin as needed */
    white-space: nowrap;
}

/* בתחילה נסתיר את הברכה */
#user-greeting {
    visibility: hidden;
  }
  

.icons {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 15px; /* Adjust the margin to add space between icons */
    color: black;
}

.icons:hover {
    color: #198AD7 !important; 
}

/* Profile and Logout */
#profile-container {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    position: absolute;
    top: -10px; 
    right: 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    text-align: right !important; /* Align text to the right */
}

.dropdown-menu a:hover {
    color: #198AD7 !important; 
}

#imageCarousel {
    margin-top: 10px;
    width: 100%;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    margin-top: 50px;
    text-align: right;
    padding-right: 20px;
    color: #198AD7;
}

p {
    text-align: right;
    padding-right: 20px;
}

.gallery {
    margin-top: 30px;
    display: flex;
    margin: 0 auto;
    width: 90%; /* Adjust the width as needed */
    gap: 15px; /* Adjust the gap between images */
}

.image {
    margin: 0;
    padding: 5px;
    width: 100%; /* Make each image take 100% of the width of the gallery */
    height: auto;
    max-width: 100%;
    transition: transform 0.3s, z-index 0.3s, background-color 0.3s;
    overflow: hidden; /* Ensure that the image is not cut off */
}

.image-link {
    display: block; /* Make the link cover the entire image */
}

.image-link:hover {
    text-decoration: none; /* Remove underline on hover */
}

.image:hover {
    transform: scale(1.1);
    z-index: 1;
    background-color: #198AD7; /* Set the background color to blue on hover */
}

footer {
    flex-shrink: 0;
    background-color: #198AD7;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px; /* Add a margin to separate from the content */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: right;
}

.footer-section {
    flex: 1;
    margin: 10px;
    text-align: right;
}

#section-text {
    font-size: 18px;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section img {
    margin-right: 15px; 
}

#contact {
    text-align: center;
    font-size: 13px;
}
